

      <div class="stage-shelf stage-shelf-right hidden" id="sidebar">
         <ul class="nav nav-bordered nav-stacked">
            <li class="nav-header">ZeroSum</li>
            <li class="active">
               <a href="index.html">ZeroSum</a>
            </li>
            <li>
               <a href="about.html">About</a>
            </li>
            <li>
               <a href="faq.html">Rules and FAQ</a>
            </li>
           
            
         </ul>
      </div>
      <div class="stage" id="stage">
         <div class="block block-inverse block-fill-height app-header"
            style="background-image: url(assets/img/contest-dark-sm.jpg);">
   
   

                  <%= render "navbarNavigate" %>



</div>

<div class="block "> 
<div class="container">
<div class ="row"> 
<div class="col-md-6 m-b-md"> 
<h3 class="m-y-0" style="color: #E0C023;"> Available Contests</h3><p> </p>
<p> Coming soon!</p>


</div>

</div>


</div>

</div>


<div class="block block-bordered text-center"> 
</div>

<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
          ZeroSum was born out of the belief that there are great traders out there. We just need to find them. 

           If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: jobs@zerosummarkets.com">jobs@zerosummarkets.com</a>.
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">ZeroSum</h6></li>
          <li class="text-muted"><a href="about.html">About</a></li>
          <li class="text-muted"><a href="faq.html">How it Works</a></li>
          <li class="text-muted"><a href="terms.html">Team</a></li>

        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Beta</h6></li>
          <li class="text-muted">Coming Soon</li>
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted"><a href="terms.html">Terms of Use</a></li>
          <li class="text-muted"><a href="privacy.html">Privacy Policy</a></li>
          <li class="text-muted"><a href="about.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
     <div class="row"> 
      <div class="col-md-4">
<a href="https://twitter.com/ZeroSumMkts" ><i class="fa fa-twitter fa-3x m-r-md"></i> </a>

      <a href="https://www.facebook.com/ZeroSumMarkets/" ><i class="fa fa-facebook-official fa-3x m-r-md"></i></a>
<div class="row p-t-md">
        <div class="col-md-6"
     <a href="https://stripe.com"> <img src="assets/img/powered-by-stripe.png" > </a>
     </div>
     </div>
      
      </div>
    </div>
  </div>
</div>

</div>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/toolkit.js"></script>
    <script src="assets/js/application.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75412906-1', 'auto');
  ga('send', 'pageview');

</script>
 